<link rel="stylesheet" th:href="@{/ui-grid.info-4.7.1/ui-grid.min.css}" />
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-animate.min.js}"></script>
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-cookies.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-route.min.js}"></script> -->
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/thirdPart/angular-ui-router.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-sanitize.min.js}"></script> -->
<!--<link rel="stylesheet" th:href="@{/angular-1.7.3/AngularJS-Toaster-3.0.0/toaster.min.css}" />-->
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-touch.min.js}"></script>
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/thirdPart/uiBootStrap/ui-bootstrap-tpls.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/thirdPart/uiBootStrap/ui-bootstrap.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/angular-1.7.3/ui-bootstrap/ui-bootstrap-prepare/js/ui-bootstrap-tpls-1.3.2.js}"></script>-->
<script type="text/javascript" th:src="@{/ui-grid.info-4.7.1/ui-grid.min.js}"></script>
<script type="text/javascript" th:src="@{/pdf/pdfmake.min.js}"></script>
<script type="text/javascript" th:src="@{/pdf/vfs_fonts.js}"></script>
<script type="text/javascript" th:src="@{/pdf/csv.js}"></script>

<script type="text/javascript" th:src="@{/angular/apps.js}"></script>
<script type="text/javascript" th:src="@{/angular/constant.js}"></script>
<script type="text/javascript" th:src="@{/angular/config.js}"></script>
<script type="text/javascript" th:src="@{/angular/factory.js}"></script>
<script type="text/javascript" th:src="@{/angular/filter.js}"></script>
<script type="text/javascript" th:src="@{/angular/route.js}"></script>
<script type="text/javascript" th:src="@{/angular/directive.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/navigationService.js}"></script>
<script type="text/javascript" th:src="@{/angular/controller/navigationController.js}"></script>
<link rel="stylesheet" th:href="@{/angular-1.7.3/AngularJS-Toaster-3.0.0/toaster.min.css}" />
<script type="text/javascript" th:src="@{/angular-1.7.3/AngularJS-Toaster-3.0.0/toaster.min.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/monitors/navigationMonitorsController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/tvs/navigationTVsController.js}"></script>
<script type="text/javascript" th:src="@{/angular/controller/tvs/tabsTVListController.js}"></script>
<script type="text/javascript" th:src="@{/angular/factory/tvs/tabsTVListFactory.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/tvs/tabsTVListService.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/tvs/tabsGroupListController.js}"></script>
<script type="text/javascript" th:src="@{/angular/factory/tvs/tabsGroupListFactory.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/tvs/tabsGroupListService.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/tvs/tabsRFSettingController.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/tvs/tabsRFSettingService.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/files/navigationFilesController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/create/navigationCreateController.js}"></script>
<script type="text/javascript" th:src="@{/angular/controller/create/navigationCreate2Controller.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/create/tabsCreate1Service.js}"></script>
<link rel="stylesheet" th:href="@{/ng-table-4.0.0/ng-table.min.css}" />
<script type="text/javascript" th:src="@{/ng-table-4.0.0/ng-table.min.js}"></script>
<script type="text/javascript" th:src="@{/ng-table-4.0.0/lodash.min.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/admin/navigationAdminController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/logout/navigationLogoutController.js}"></script>