<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-animate.min.js}"></script>
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-cookies.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-route.min.js}"></script> -->
<script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/thirdPart/angular-ui-router.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/angular-1.7.3/angular-1.7.3/angular-sanitize.min.js}"></script> -->

<script type="text/javascript" th:src="@{/angular/apps.js}"></script>
<script type="text/javascript" th:src="@{/angular/constant.js}"></script>
<script type="text/javascript" th:src="@{/angular/config.js}"></script>
<script type="text/javascript" th:src="@{/angular/factory.js}"></script>
<script type="text/javascript" th:src="@{/angular/filter.js}"></script>
<script type="text/javascript" th:src="@{/angular/route.js}"></script>
<script type="text/javascript" th:src="@{/angular/directive.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/navigationService.js}"></script>
<script type="text/javascript" th:src="@{/angular/controller/navigationController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/monitors/navigationMonitorsController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/tvs/navigationTVsController.js}"></script>
<script type="text/javascript" th:src="@{/angular/controller/tvs/tabsTVListController.js}"></script>
<script type="text/javascript" th:src="@{/angular/factory/tvs/tabsTVListFactory.js}"></script>
<script type="text/javascript" th:src="@{/angular/service/tvs/tabsTVListService.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/files/navigationFilesController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/create/navigationCreateController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/admin/navigationAdminController.js}"></script>

<script type="text/javascript" th:src="@{/angular/controller/logout/navigationLogoutController.js}"></script>