<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="menu/index">
    <div th:fragment="content">
        main-body-content-devices
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablelist" id="tabs">
		    <li role="presentation">
			    <a href="#tabs_msg" role="tab" data-table="tabs_msg" data-toggle="tab">
				    Messages
			    </a>
		    </li>
		    <li role="presentation">
			    <a href="#tabs_rooms" role="tab" data-table="tabs_rooms" data-toggle="tab">
				    Rooms
			    </a>
		    </li>	
		    <li role="presentation">
                <a href="#tabs-devices" role="tab" data-table="tabs-devices" data-toggle="tab"> 
                    TV List 
                </a>
		    </li>
		    <li role="presentation">
                <a href="#tabs-groups" role="tab" data-table="tabs-groups" data-toggle="tab"> 
                    Group List 
                </a>
            </li>
		    <li role="presentation">
                <a href="#tabs-rfSetting" role="tab" data-table="tabs-rfSetting" data-toggle="tab">
                    Settings 
                </a>
            </li>
	    </ul>
    </div>
</html>