<div>
	<ul class="nav nav-tabs" role="tablelist" id="tabs_tvs">
		<li role="presentation">
			<a href="\tvs\tabs_msg" role="tab" data-table="tabs_msg" data-toggle="tab">
			 	Messages
			</a>
		</li>
		<li role="presentation">
			<a ng-href="\tvs\tabs_rooms" role="tab" data-table="tabs_rooms" data-toggle="tab">
				Rooms
			</a>
		</li>	
		<li role="presentation">
			<a ng-href="\tvs\tabs_tvList" role="tab" data-table="tabs_tvList" data-toggle="tab"> 
				TV List 
			</a>
		</li>
		<li role="presentation">
			<a ng-href="\tvs\tabs_groupList" role="tab" data-table="tabs_groupList" data-toggle="tab"> 
				Group List 
			</a>
		</li>
		<li role="presentation">
			<a ng-href="\tvs\tabs_rfSetting" role="tab" data-table="tabs_rfSetting" data-toggle="tab">
				Settings 
			</a>
		</li>
	</ul>
</div>