<div ng-controller="tabsTVListController" ng-init="initTVListData()">
    <table id="table" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <label ng-click="TestBlack('divc')" class="btn btn-primary" id="TVStatusOverview" style="width: 100%">
                    <div class="text-left">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        &nbsp;&nbsp;TV Status overview
                    </div>
                </label> &nbsp;
            </td>
        </tr>
        <tr id="divc">
            <td>
                <table class="columns" style="width: 100%">
                    <tr>
                        <td>
                            <h5 align="center" class="piechartheader">
                                TV Models
                            </h5>
                            <div id="tv_models_chart_div" style="width: 20% ;display:block"></div>
                        </td>
						<td>
							<h5 align="center" class="piechartheader">
                                Current Power Status
                            </h5>
							<div id="current_power_status_chart_div" style="width: 20%"></div>
						</td>
						<td>
							<h5 align="center" class="piechartheader">
                                Current SW
                            </h5>
							<div id="current_sw_chart_div" style="width: 20%"></div>
						</td>
						<td>
							<h5 align="center" class="piechartheader">
                                Current Clone Data
                            </h5>
							<div id="current_clone_data_chart_div" style="width: 20%"></div>
						</td>
						<td>
							<h5 align="center" class="piechartheader">
                                Current Upgrade Status
                            </h5>
							<div id="current_upgrade_status_chart_div" style="width: 20%"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
    </table>
    <div style="width: auto; float: left; margin-top: 15px;">
        <div style="float: left;">
            <label class="btn btn-primary" id="detectDevicesBtn" ng-click="detectDevicesBtn()" data-toggle="modal"> 
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;&nbsp;Detect
            </label>&nbsp; 
            <label class="btn btn-primary" id="addDetectDevicesBtn" ng-click="addDetectDevicesBtn()" data-toggle="modal"> 
                <span class="glyphicon glyphicon-plus-sign"></span>
                &nbsp;&nbsp;Add
            </label>&nbsp; 
            <label class="btn btn-primary" id="CreateGroupBtn" ng-click="CreateGroupBtn()" data-toggle="modal"> 
                <span class="glyphicon glyphicon-th-list"></span>
                &nbsp;&nbsp;Create Group
            </label>&nbsp; 
            <label class="btn btn-primary" id="DelSelBtn" ng-click="DelSelBtn()" data-toggle="modal"> 
                <span class="glyphicon glyphicon-trash"></span>
                &nbsp;&nbsp;Delete Selected
            </label>&nbsp; 
            <label class="btn btn-primary" id="allBtn" ng-click="allBtn()"> 
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;&nbsp;Force Selected
            </label>&nbsp; 
            <label class="btn btn-primary" id="downloadDisplays" ng-click="downloadDisplays()"> 
                <span class="glyphicon glyphicon-download"></span>
				&nbsp;&nbsp;Download Displays
			</label>&nbsp;
		</div>
		<div style="float: left;">
			<h5 style="float: left;">&nbsp;&nbsp;SW:&nbsp;&nbsp;</h5>
			<div class="form-group form-group-sm" style="float: left;">
                <select id="sw_select" class="selectpicker show-tick" onchange="angular.element(this).scope().swSelect()"
                    disabled data-size="10" data-live-search="true">
                    <div data-toggle="modal" data-target="#showModal">
						<option value="0">None</option>
					</div>
                </select>
			</div>
		</div>
		<div style="float: left;">
			<h5 style="float: left;">&nbsp;&nbsp;Clone:&nbsp;&nbsp;</h5>
			<div class="form-group form-group-sm" style="float: left;">
                <select id="cl_select" class="selectpicker show-tick" onchange="angular.element(this).scope().cloneSelect()"
                    disabled data-size="10" data-live-search="true">
					    <div data-toggle="modal" data-target="#showModal">
                            <option value="0">None</option>
						</div>
				</select>
			</div>
		</div>
		<div style="float: left;">				
            &nbsp;&nbsp;
            <label name="partialClone" class="btn btn-primary" id="filter" ng-click="partialClone()"> 
                <span class="glyphicon glyphicon-filter"></span>
                &nbsp;&nbsp; Clone Parts
			</label>&nbsp;				
			<!-- <a href="#" name="partialClone" data-toggle="modal"> <span
				class="glyphicon glyphicon-filter"
				style="margin-top: 5px; font-size: 20px;"> </span>
			</a> -->
		</div>
		<!--downloadDeviceData button-->
		<!-- <div style="float: left;">
			<a href="#" name="downloadDeviceData" data-toggle="modal"> <span
				class="glyphicon glyphicon-download"
				style="margin-top: 5px; font-size: 18px;"> </span>
			</a>
	    </div> -->
	</div>
    <table id="grid_tvList" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="Id" data-identifier="true"
                    data-visible-in-selection="false" data-visible="false" ng-click="clickInfo()">ID</th>
                <th data-width="6%" data-column-id="PowerStatus" data-align="center"
                    data-header-align="center" data-formatter="power" data-sortable="true">Power</th>
                <th data-width="8%" data-column-id="TVName" data-align="center"
                    data-header-align="left" data-formatter="name">Name</th>
                <th data-width="8%" data-column-id="TVSerialNumber"
                    data-align="center" data-header-align="center">S/N</th>
                <th data-width="5%" data-column-id="TVRoomID"
                    data-align="center" data-header-align="center" data-formatter="RID">RID</th>
                <th data-width="8%" data-column-id="TVModelNumber"
                    data-align="center" data-header-align="center">CTN</th>
                <th data-width="8%" data-column-id="Type" data-align="center"
                    data-header-align="center">Platform</th>
                <th data-width="10%" data-column-id="TVIPAddress"
                    data-align="center" data-header-align="center">IP</th>
                <th data-width="8%" data-column-id="TVMACAddress"
                    data-align="center" data-header-align="center" data-formatter="MAC">MAC</th>
                <th data-width="15%" data-column-id="UpgVersion"
                    data-align="center" data-header-align="center" data-formatter="sw">SW</th>
                <th data-width="13%" data-column-id="CloneDate"
                    data-align="center" data-header-align="center" data-formatter="clone">Clone</th>
                <th data-width="10%" data-column-id="commands"
                    data-align="center" data-header-align="center" data-formatter="commands" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody id="tvsBody">
        </tbody>
    </table>
    <div class="modal fade" id="infoModal_ID" tableindex="-1" role="dialog" aria-hidden="true">
        <div class="modal_wrapper">
            <div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" style="background: rgb(28, 148, 196);">
						<button type="button" class="close" data-dismiss="modal"aria-hidden="ture">&times;</button>
						<h3 class="modal-title" style="color: #fff;">More Info</h3>
					</div>
					<div class="modal-body" style="padding-top: 5px; padding-left: 20px; padding-bottom: 0px; padding-right: 20px;">
						<div id="TV_info" class="col-md-12" style="overflow-y: auto; height: 280px; 
                                                                width: 100%; background: none; border: none; resize: none;">
						</div>
						<!-- <textarea id="TV_info" cols="1" rows="50"  class="col-md-12"
							style="height:280px;width:100%;background:none;border:none;resize:none;">															
						</textarea> -->
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
    </div>
    <div class="modal fade" id="cloneSelection" tabindex="-1" role="dialog" aria-labelledby="g_myModalLabel" aria-hidden="true">
        <div class="modal_wrapper">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background: rgb(28, 148, 196);">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" style="color: #fff;" id="g_myModalLabel">
                                Partial Clone Selection
                        </h4>
					</div>
					<div class="modal-body">
						<div style="width: 100px; height: 20px" id="none">&nbsp;
                            None
                        </div>
						<div style="width: 100px;">
							<input type="checkbox" id="ipAll" name="ipAll" checked="checked"
										onchange="angular.element(this).scope().alloption('TVs_tabsDevices_partialClone_ipAll')" />
									All
						</div>
						<div style="height: 25px;">&nbsp;</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipTVSettings" name="ipTVSettings" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipTVSettings', 'ipTVSettings')" />
									TV Settings
						</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipTVChannelList" name="ipTVChannelList" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipTVChannelList','ipTVChannelList')" />
									TV Channel List
						</div>
						<div style="width: 40%; float: left;">
							<input type="checkbox" id="ipWelcomeLogo" name="ipWelcomeLogo" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipWelcomeLogo','ipWelcomeLogo')" />
									WelcomeLogo
						</div>
						<div style="height: 25px;">&nbsp;</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipSmartInfoPages" name="ipSmartInfoPages" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipSmartInfoPages','ipSmartInfoPages')" />
									SmartInfo Pages
						</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipSmartInfoImages" name="ipSmartInfoImages" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipSmartInfoImages','ipSmartInfoImages')" />
									SmartInfo Images
						</div>
						<div style="width: 40%; float: left;">
							<input type="checkbox" id="ipCustomDashboard" name="ipCustomDashboard" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipCustomDashboard','ipCustomDashboard')" />
									Local Custom Dashboard
						</div>
						<div style="height: 25px;" id="whiteline">&nbsp;</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipAndroidApps" name="ipAndroidApps" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipAndroidApps','ipAndroidApps')" />
									Android Apps
						</div>
						<div style="width: 30%; float: left;">
							<input type="checkbox" id="ipMediaChannels" name="ipMediaChannels" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipMediaChannels','ipMediaChannels')" />
									Media Channels
						</div>
						<div style="width: 40%; float: left;">
							<input type="checkbox" id="ipRoomSpecificSettings" name="ipRoomSpecificSettings" disabled="disabled"
										onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipRoomSpecificSettings','ipRoomSpecificSettings')" />
									Room Specific Settings
						</div>
						<div style="height:25px;"> &nbsp;</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipWeatherForecast" name="ipWeatherForecast" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipWeatherForecast','ipWeatherForecast')" /> 
									WeatherForecast
						</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipHTVCfg" name="ipHTVCfg" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipHTVCfg','ipHTVCfg')" /> 
									HTV Cfg			 
						</div>
						<div style="width:40%; float: left;">
							<input type="checkbox" id="ipBanner" name="ipBanner" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipBanner','ipBanner')"  /> 
									Banner
						</div>
						<div style="height:26px;"> &nbsp;</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipScript" name="ipScript" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipScript','ipScript')"  /> 
									Script
						</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipPMS" name="ipPMS" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipPMS','ipPMS')" /> 
									PMS			 
						</div>
						<div style="width:40%; float: left;">
							<input type="checkbox" id="ipAndroidAppsData" name="ipAndroidAppsData" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipAndroidAppsData','ipAndroidAppsData')"  /> 
									AndroidAppsData
						</div>
						<div style="height:26px;"> &nbsp;</div>				
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipProfessionalApps" name="ipProfessionalApps" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipProfessionalApps','ipProfessionalApps')"  /> 
									ProfessionalApps
						</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipProfessionalAppsData" name="ipProfessionalAppsData" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipProfessionalAppsData','ipProfessionalAppsData')" /> 
									ProfessionalAppsData			 
						</div>
						<div style="width:40%; float: left;">
							<input type="checkbox" id="ipSchedules" name="ipSchedules" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipSchedules','ipSchedules')"  /> 
									Schedules
						</div>
						<div style="height:26px;"> &nbsp;</div>				
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipMyChoice" name="ipMyChoice" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipMyChoice','ipMyChoice')"  /> 
									MyChoice
						</div>
						<div style="width:30%; float: left;">
							<input type="checkbox" id="ipVsecure" name="ipVsecure" disabled="disabled" 
									onchange="angular.element(this).scope().onChangepartialAction('TVs_tabsDevices_partialClone_ipVsecure','ipVsecure')" /> 
									Vsecure			 
						</div>		
						<div style="width: 46px; float: left;">&nbsp;</div>
						<div class="clear height5px"></div>
						<div class="clear height5px"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="savePartialCloneSelection" class="btn btn-primary" ng-click="savePartialCloneSelection()">save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
