<div ng-controller="navigationAdminController" ng-init="initSelectAdminSubTabs()">
	<ul class="nav nav-tabs" role="tablist" id="admin_tabs" style="margin-bottom: 20px;"> 
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_users}">
			<a ui-sref=".tabs_users" tabs-id="tabs_users"> 
				<span class="glyphicon glyphicon-th-list">&nbsp;</span> Users 
			</a>
		</li>
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_changePassword}">
			<a ui-sref=".tabs_changePassword" tabs-id="tabs_changePassword"> 
				<span class="glyphicon glyphicon-lock">&nbsp;</span> Change password 
			</a>
		</li>
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_systemLog}">
			<a ui-sref=".tabs_systemLog" tabs-id="tabs_systemLog"> 
				<span class="glyphicon glyphicon-info-sign">&nbsp;</span> System log
			</a>
		</li>
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_LocationConfig}">
			<a ui-sref=".tabs_locationConfig" tabs-id="tabs_LocationConfig"> 
				<span class="glyphicon glyphicon-map-marker">&nbsp;</span> Location config
			</a>
		</li>	
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_pmsConfig}">
			<a ui-sref=".tabs_pmsConfig" tabs-id="tabs_pmsConfig"> 
				<span class="glyphicon glyphicon-credit-card">&nbsp;</span> PMS
			</a>	
		</li>	
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_exapi}">
			<a ui-sref=".tabs_exapi" tabs-id="tabs_exapi"> 
				<span class="glyphicon glyphicon-tasks">&nbsp;</span> ExAPI
			</a>	
		</li>	
		<li ng-class="{'active' : sub_nav_admin_tabs.admin_tabs_weather}">
			<a ui-sref=".tabs_weather" tabs-id="tabs_weather"> 
				<span class="glyphicon glyphicon-cloud-download">&nbsp;</span> Weather
			</a>
		</li>
    </ul>
    <div ui-view></div>
</div>