
<div>
	<ul class="nav nav-tabs" role="tablist" id="tab_admin" style="margin-bottom: 20px;"> 
		<li>
			<a href="#list"> 
				<span class="glyphicon glyphicon-th-list">&nbsp;</span> Users 
			</a>
		</li>
		<li>
			<a href="#pwd"> 
				<span class="glyphicon glyphicon-lock">&nbsp;</span> Change password 
			</a>
		</li>
		<li>
			<a href="#log"> 
				<span class="glyphicon glyphicon-info-sign">&nbsp;</span> System log
			</a>
		</li>
		<li>
			<a href="#loc"> 
				<span class="glyphicon glyphicon-map-marker">&nbsp;</span> Location config
			</a>
		</li>	
		<li>
			<a href="#pmsConfig"> 
				<span class="glyphicon glyphicon-credit-card">&nbsp;</span> PMS
			</a>	
		</li>	
		<li>
			<a href="#apiConfig"> 
				<span class="glyphicon glyphicon-tasks">&nbsp;</span> ExAPI
			</a>	
		</li>	
		<li>
			<a href="#weather"> 
				<span class="glyphicon glyphicon-cloud-download">&nbsp;</span> Weather
			</a>
		</li>
	</ul>
</div>