<div ng-controller="navigationCreateController">
    <div id="upload">
        <form  method="post" id="uploadFile">
        <span id="spanUpload" class="btn btn-primary fileinput-button">
            <input type="hidden" name="MAX_FILE_SIZE" value="20000000" />
            <span class="glyphicon glyphicon-upload"> </span> &nbsp;Add File
            <input class="file" name="fileName" onchange="angular.element(this).scope().submitForm()" type="file" />
        </span>
        </form>
    </div>

    <!--<form method="post" id="uploadFile">
        <input class="file" type="file" name="fileName"/>
        <input type="submit" value="upload" ng-click="submitForm()"/>
    </form>-->
    
    <toaster-container></toaster-container>
    
    <div>
    	<div ui-grid="gridOptions" style="width: 98%;margin: 0px 1% 0px 1%; height: 48px; text-align: center;" ui-grid-edit  
       		ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize>
       	</div>			
	   	<div style="text-align:center; clear:both;">
			<ul uib-pagination total-items="bigTotalItems" 
				ng-model="bigCurrentPage" ng-click="pageChanged(bigCurrentPage, itemPerPage)" 
				items-per-page="itemPerPage" max-size="maxSize" class="pagination-sm" 
				boundary-link-numbers="true" num-pages="numPages" rotate="false"></ul>
	   	</div>
	   
        <div>{{bigCurrentPage}} / {{numPages}}</div>
       	<div style="width:100%; height: 100px">
            <ol>
               <li>{{testRow.name}}</li>
               <li>{{testRow.age}}</li>
               <li>{{testRow.birthday}}</li>
            </ol>   
       	</div>
    </div>
    <!--<div>
        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="" previous-text="" next-text="" last-text=""〉" boundary-links="true" boundary-link-numbers="true"></uib-pagination>
    </div>
    <div ui-grid="gridOptions" style="width: 98%; height: 500px; text-align: center;" ui-grid-edit ui-grid-pagination
          ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
    </div>

    <div style="width:100%; height: 100px">
        <ol>
            <li>{testRow.name}}</li>
            <li>{testRow.age}}</li>
            <li>{testRow.birthday}}</li>
        </ol>
    </div>-->
</div>
