<div ng-controller="navigationCreate2Controller as demo">
	<toaster-container></toaster-container>
	<h2 class="page-header">Loading data - managed array</h2>
    <div class="bs-callout bs-callout-info">
		<h4>Overview</h4>
		<p>When you have the <em>entire</em> dataset available in-memory you can hand this to <code>NgTableParams</code> to manage the filtering, sorting and paging of that array</p>
	</div>
	<div>
		<table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
				<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
					<span ng-switch-default class="editable-text">{{row.name}}</span>
	 				<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
	 					<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
					</div>
				</td>
				<td title="'Age'" filter="{age: 'number'}" sortable="'age'" ng-switch="row.isEditing" ng-class="age.$dirty?'bg-warning':''" ng-form="age" demo-tracked-table-cell>
					<span ng-switch-default class="editable-text">{{row.age}}</span>
					<div class="controls" ng-class="age.$invalid && age.$dirty?'has-error':''" ng-switch-when="true">
						<input type="number" name="age" ng-model="row.age" class="editable-input form-control input-sm" required/>
					</div>
				</td>
				<td title="'Money'" filter="{money: 'number'}" sortable="'money'" ng-switch="row.isEditing" ng-class="money.$dirty?'bg-warning':''" ng-form="money" demo-tracked-table-cell>
					<span ng-switch-default class="editable-text">{{row.money}}</span>
					<div class="controls" ng-class="money.$invalid && money.$dirty?'has-error':''" ng-switch-when="true">
						<input type="number" name="money" ng-model="row.money" class="editable-input form-control input-sm" required/>
					</div>
				</td>
				<td>
					<button class="btn btn-primary btn-sm" ng-title="save" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<button class="btn btn-default btn-sm" ng-title="cancel" ng-click="demo.cancel(row, rowForm)" ng-if="row.isEditing">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button class="btn btn-default btn-sm" ng-title="edit" ng-click="row.isEditing = true" ng-if="!row.isEditing">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-danger btn-sm" ng-title="delete" ng-click="demo.del(row)" ng-if="!row.isEditing">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<br />
	<div>
		<!-- https://www.cnblogs.com/smilecoder/p/6780494.html -->
		<div>Select an image file: <input type="file" id="fileInput" /></div>
  		<div class="cropArea">
    		<img-crop 
    			image="myImage" 
    			result-image="myCroppedImage"
    			area-type="square"
    			on-change="onLoadDone" ></img-crop>
  		</div>
  		<div>Cropped Image:</div>
  		<div><img ng-src="{{myCroppedImage}}" /></div>
	</div>
	<br />
	<div>
		<form ng-app="fileUpload" name="form">
		  Single Image with validations
		  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
		    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
		    ngf-resize="{width: 100, height: 100}">Select</div>
		  Multiple files
		  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
		  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
		  <button type="submit" ng-click="submit()">submit</button>
		</form>
	</div>
</div>