<div th:fragment="navigation">
    <nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
                                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    	    <a href="#"><img alt="Brand" style="padding-left: 3px; height:50px; float:left;" th:src="@{/images/cmnd.png}"></a>
    	    <p id="nav_sys_ver" class="navbar-text">xx.xx.xx</p>
        </div>
        <div id="navbar" class="navbar_real collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                <li>
                    <a id="nav_monitors" ng-href="#/monitors" ng-click="navigation($event)">Monitors</a>
                </li>
                <li>
                    <a id="nav_tvs" ng-href="#/tvs" ng-click="navigation($event)">TVs</a>
                </li>
                <li>
                    <a id="nav_files" ng-href="#/files" ng-click="navigation($event)">Files</a>
                </li>
                <li>
                    <a id="nav_cms" ng-href="#/cms" ng-click="navigation($event)">Create</a>
                </li>
                <li>
                    <a id="nav_admin" ng-href="#/admin" ng-click="navigation($event)">Admin</a>
                </li>
                <li>
                    <a id="nav_logout" ng-href="#/logout" ng-click="navigation($event)">Logout</a>
                </li>
                <li>&nbsp;&nbsp;</li>
            </ul>
        </div>
    </nav>
</div>