
<div>
	<ul class="nav nav-tabs" role="tablelist" id="files_tabs">
		<li role="presentation" class="active">
			<a ui-sref=".tabs_firmware" role="tab" id="tabs_firmware"> 
				Firmware List 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_clone" role="tab" id="tabs_clone"> 
				Clone List 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_settingPackage" role="tab" id="tabs_settingPackage"> 
				Setting Package 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_channelPackage" role="tab" id="tabs_channelPackage"> 
				Channel Package 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_appPackage" role="tab" id="tabs_app"> 
				App Packages 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_banners" role="tab" id="tabs_banners"> 
				Banners 
			</a>
		</li>
		<li role="presentation">
			<a ui-sref=".tabs_play" role="tab" id="tabs_play"> 
				Play 
			</a>
		</li>
    </ul>
    <div ui-view></div>
</div>