<div  class="tab-pane" id="tabs_banners" style="">
			<table id="grid-banners" class="table table-hover bootgrid-table">
				<thead>
					<tr>
						<th data-column-id="name" data-formatter="name"
							data-sortable="true">Name</th>
						<th data-column-id="content" data-column-platform="content"
							data-formatter="content" data-sortable="true">Content</th>
						<th data-column-id="schedule" data-formatter="schedule"
							data-sortable="true">Schedule</th>
						<th data-column-id="triggers" data-formatter="trigger"
							data-sortable="true">Triggers</th>
						<th data-column-id="lastEdit" data-formatter="lastEdit"
							data-sortable="true">Last Edit</th>
						<th data-column-id="action" data-formatter="action"
							data-sortable="false">Action</th>
					</tr>
				</thead>
			</table>
</div>