<div role="tabpane5" class="tab-pane" id="tabs_app" style="">
			<table id="grid-app" class="table table-hover bootgrid-table">
				<thead>
					<tr>
						<th data-column-id="name" data-formatter="name"
							data-sortable="true">Name</th>
						<th data-column-id="platform" data-column-platform="platform"
							data-formatter="platform" data-sortable="true">Platform</th>
						<th data-column-id="number" data-formatter="number"
							data-sortable="true">Number</th>
						<th data-column-id="size" data-formatter="size"
							data-sortable="true">Size</th>
						<th data-column-id="lastEdit" data-formatter="lastEdit"
							data-sortable="true">Last Edit</th>
						<th data-column-id="action" data-formatter="action"
							data-sortable="false">Action</th>
					</tr>
				</thead>
			</table>
</div>