		<div role="tabpane6" class="tab-pane" id="tabs_play" style="">

			<!-- Button : Upload AV Stream.ts -->
			<div id="uploadAVStream" style="width: 56%; margin-top: 7px;">
				<form enctype="multipart/form-data"
					action="/SmartInstall/upload?type=AVStream" method="post"
					id="uploadavform" name="upload_clone_btn">
					<span id="spanavupload" class="btn btn-primary fileinput-button"
						style="float: left"> <input type="hidden"
						name="MAX_FILE_SIZE" value="20000000" /> <span
						class="glyphicon glyphicon-upload"> </span> &nbsp;Add AV Stream <input
						name="uploadedavfile" onchange='AVUploading(this)' accept=".ts"
						type="file" size="20" />
					</span>
				</form>
				<img id="avuploading"
					src="/images/ajax-loader.gif" height="10"
					width="85" style="display: none;"></img>

			</div>
			<!-- 			rfsetting button -->
			<div style="float: left;margin-right:5px">			
				<a id="rfSetting" href="#modal-playout-settings" role="button" class="btn btn-primary" data-toggle="modal">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp;Settings </a>
			</div>
			
			<table id="playout_grid" class="table table-hover bootgrid-table">
				<thead>
					<tr>
						<th data-column-id="playoutId" data-type="numeric"
							data-identifier="true" data-visible="true">Select</th>
						<th data-column-id="rooms" data-formatter="rooms"
							data-sortable="true">Rooms</th>
						<th data-column-id="name" data-formatter="name"
							data-sortable="true">Name</th>
						<th data-column-id="type" data-formatter="type"
							data-sortable="true">Type</th>
						<th data-column-id="platform" data-formatter="platform"
							data-sortable="true">Platform</th>
						<th data-column-id="version" data-formatter="version"
							data-sortable="true">Version</th>
						<th data-column-id="schedule" data-formatter="schedule"
							data-sortable="true">Schedule</th>
						<th data-column-id="action" data-formatter="action"
							data-sortable="false">Action</th>
					</tr>
				</thead>
			</table>

<!-- 			<div id="submitbtn" class="text-center"> -->
<!-- 				<button id="submit" type="button" class="btn btn-primary"> -->
<!-- 					<span class="glyphicon glyphicon-play"> Start RF Playout</span> -->
<!-- 				</button> -->
<!-- 				<button id="cancel" class="btn btn-primary"> -->
<!-- 					<span class="glyphicon glyphicon-stop"> Stop RF playout </span> -->
<!-- 				</button> -->
<!-- 			</div> -->
</div>