<div id="tabs_settingPackage" class="tab-pane">
			<table id="grid-settingPackage"
				class="table table-hover bootgrid-table">
				<thead>
					<tr>

						<th data-column-id="name" data-column-name="name"
							data-formatter="name" data-sortable="true">Name</th>
						<th data-column-id="platform" data-column-platform="platform"
							data-formatter="platform" data-sortable="true">Platform</th>
						<th data-column-id="lastEdit" data-column-lastEdit="lastEdit"
							data-formatter="lastEdit" data-sortable="true">Last Edit</th>
						<th data-column-id="action" data-column-action="action"
							data-formatter="action" data-sortable="false">Action</th>
					</tr>
				</thead>
			</table>

</div>