<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.cmnd.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.xum.cmnd.pojo.Role" >
    <id column="idrole" property="idrole" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    idrole, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where idrole = #{idrole,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where idrole = #{idrole,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xum.cmnd.pojo.Role" >
    insert into role (idrole, name)
    values (#{idrole,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xum.cmnd.pojo.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idrole != null" >
        idrole,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idrole != null" >
        #{idrole,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xum.cmnd.pojo.Role" >
    update role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where idrole = #{idrole,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xum.cmnd.pojo.Role" >
    update role
    set name = #{name,jdbcType=VARCHAR}
    where idrole = #{idrole,jdbcType=INTEGER}
  </update>
</mapper>