<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.cmnd.dao.SettingMapper" >
  <resultMap id="BaseResultMap" type="com.xum.cmnd.pojo.Setting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="geoname_id" property="geonameId" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="channelPackageId" property="channelpackageid" jdbcType="INTEGER" />
    <result column="appPackageId" property="apppackageid" jdbcType="INTEGER" />
    <result column="settingPackageId" property="settingpackageid" jdbcType="INTEGER" />
    <result column="bannersId" property="bannersid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xum.cmnd.pojo.SettingWithBLOBs" extends="BaseResultMap" >
    <result column="name" property="name" jdbcType="LONGVARCHAR" />
    <result column="value" property="value" jdbcType="LONGVARCHAR" />
    <result column="cloneRename" property="clonerename" jdbcType="LONGVARCHAR" />
    <result column="isDelete" property="isdelete" jdbcType="LONGVARCHAR" />
    <result column="androidApps" property="androidapps" jdbcType="LONGVARCHAR" />
    <result column="cloneItemStatus" property="cloneitemstatus" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, platform, type, created_by, created_date, last_updated_by, last_updated_date, 
    geoname_id, language, content, channelPackageId, appPackageId, settingPackageId, 
    bannersId
  </sql>
  <sql id="Blob_Column_List" >
    name, value, cloneRename, isDelete, androidApps, cloneItemStatus
  </sql>
  <select id="selectAllCount" resultType="java.lang.Integer">
   	select count(1) from setting
  </select>
  <select id="settingTableChange" statementType="CALLABLE">
      CALL smartinstall.`setting_table_change`();
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSettingWithBootGrid" parameterType="java.util.Map" resultType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from setting
    <trim prefix=" where (" suffix=") "> 
      <if test="searchPhrase != null">
          id like "%"#{searchPhrase, jdbcType=VARCHAR}"%" 
          or platform like "%"#{searchPhrase, jdbcType=VARCHAR}"%" 
          or type like "%"#{searchPhrase, jdbcType=VARCHAR}"%" 
          or created_by like "%"#{searchPhrase, jdbcType=VARCHAR}"%" 
          or created_date like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or last_updated_by like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or last_updated_date like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or geoname_id like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or language like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or content like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
          or channelPackageId like "%"#{searchPhrase, jdbcType=VARCHAR}"%"
        </if>
    </trim>
    <trim prefix=" order by " suffix=" " suffixOverrides=",">
        <if test="idSort != null" >
          id ${idSort},
        </if>
        <if test="platformSort != null" >
          platform ${platformSort},
        </if>
        <if test="typeSort != null" >
          type ${typeSort},
        </if> 
        <if test="languageSort != null" >
          language ${languageSort},
        </if>
        <if test="contentSort != null" >
          content ${contentSort},
        </if>
    </trim>
    limit #{offset,jdbcType=INTEGER},#{rowCount,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xum.cmnd.pojo.SettingWithBLOBs" >
    insert into setting (id, platform, type, 
      created_by, created_date, last_updated_by, 
      last_updated_date, geoname_id, language, 
      content, channelPackageId, appPackageId, 
      settingPackageId, bannersId, name, 
      value, cloneRename, isDelete, 
      androidApps, cloneItemStatus)
    values (#{id,jdbcType=INTEGER}, #{platform,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{geonameId,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{channelpackageid,jdbcType=INTEGER}, #{apppackageid,jdbcType=INTEGER}, 
      #{settingpackageid,jdbcType=INTEGER}, #{bannersid,jdbcType=INTEGER}, #{name,jdbcType=LONGVARCHAR}, 
      #{value,jdbcType=LONGVARCHAR}, #{clonerename,jdbcType=LONGVARCHAR}, #{isdelete,jdbcType=LONGVARCHAR}, 
      #{androidapps,jdbcType=LONGVARCHAR}, #{cloneitemstatus,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xum.cmnd.pojo.SettingWithBLOBs" >
    insert into setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="geonameId != null" >
        geoname_id,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="channelpackageid != null" >
        channelPackageId,
      </if>
      <if test="apppackageid != null" >
        appPackageId,
      </if>
      <if test="settingpackageid != null" >
        settingPackageId,
      </if>
      <if test="bannersid != null" >
        bannersId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="clonerename != null" >
        cloneRename,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="androidapps != null" >
        androidApps,
      </if>
      <if test="cloneitemstatus != null" >
        cloneItemStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="geonameId != null" >
        #{geonameId,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="channelpackageid != null" >
        #{channelpackageid,jdbcType=INTEGER},
      </if>
      <if test="apppackageid != null" >
        #{apppackageid,jdbcType=INTEGER},
      </if>
      <if test="settingpackageid != null" >
        #{settingpackageid,jdbcType=INTEGER},
      </if>
      <if test="bannersid != null" >
        #{bannersid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=LONGVARCHAR},
      </if>
      <if test="clonerename != null" >
        #{clonerename,jdbcType=LONGVARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=LONGVARCHAR},
      </if>
      <if test="androidapps != null" >
        #{androidapps,jdbcType=LONGVARCHAR},
      </if>
      <if test="cloneitemstatus != null" >
        #{cloneitemstatus,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xum.cmnd.pojo.SettingWithBLOBs" >
    update setting
    <set >
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="geonameId != null" >
        geoname_id = #{geonameId,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="channelpackageid != null" >
        channelPackageId = #{channelpackageid,jdbcType=INTEGER},
      </if>
      <if test="apppackageid != null" >
        appPackageId = #{apppackageid,jdbcType=INTEGER},
      </if>
      <if test="settingpackageid != null" >
        settingPackageId = #{settingpackageid,jdbcType=INTEGER},
      </if>
      <if test="bannersid != null" >
        bannersId = #{bannersid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=LONGVARCHAR},
      </if>
      <if test="clonerename != null" >
        cloneRename = #{clonerename,jdbcType=LONGVARCHAR},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=LONGVARCHAR},
      </if>
      <if test="androidapps != null" >
        androidApps = #{androidapps,jdbcType=LONGVARCHAR},
      </if>
      <if test="cloneitemstatus != null" >
        cloneItemStatus = #{cloneitemstatus,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xum.cmnd.pojo.SettingWithBLOBs" >
    update setting
    set platform = #{platform,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      geoname_id = #{geonameId,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      channelPackageId = #{channelpackageid,jdbcType=INTEGER},
      appPackageId = #{apppackageid,jdbcType=INTEGER},
      settingPackageId = #{settingpackageid,jdbcType=INTEGER},
      bannersId = #{bannersid,jdbcType=INTEGER},
      name = #{name,jdbcType=LONGVARCHAR},
      value = #{value,jdbcType=LONGVARCHAR},
      cloneRename = #{clonerename,jdbcType=LONGVARCHAR},
      isDelete = #{isdelete,jdbcType=LONGVARCHAR},
      androidApps = #{androidapps,jdbcType=LONGVARCHAR},
      cloneItemStatus = #{cloneitemstatus,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xum.cmnd.pojo.Setting" >
    update setting
    set platform = #{platform,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      geoname_id = #{geonameId,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      channelPackageId = #{channelpackageid,jdbcType=INTEGER},
      appPackageId = #{apppackageid,jdbcType=INTEGER},
      settingPackageId = #{settingpackageid,jdbcType=INTEGER},
      bannersId = #{bannersid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>