<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.cmnd.dao.SiconfigMapper" >
  <resultMap id="BaseResultMap" type="com.xum.cmnd.pojo.Siconfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weather_service" property="weatherService" jdbcType="VARCHAR" />
    <result column="refresh_rate" property="refreshRate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, weather_service, refresh_rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from siconfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from siconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xum.cmnd.pojo.Siconfig" >
    insert into siconfig (id, weather_service, refresh_rate
      )
    values (#{id,jdbcType=INTEGER}, #{weatherService,jdbcType=VARCHAR}, #{refreshRate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xum.cmnd.pojo.Siconfig" >
    insert into siconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="weatherService != null" >
        weather_service,
      </if>
      <if test="refreshRate != null" >
        refresh_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="weatherService != null" >
        #{weatherService,jdbcType=VARCHAR},
      </if>
      <if test="refreshRate != null" >
        #{refreshRate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xum.cmnd.pojo.Siconfig" >
    update siconfig
    <set >
      <if test="weatherService != null" >
        weather_service = #{weatherService,jdbcType=VARCHAR},
      </if>
      <if test="refreshRate != null" >
        refresh_rate = #{refreshRate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xum.cmnd.pojo.Siconfig" >
    update siconfig
    set weather_service = #{weatherService,jdbcType=VARCHAR},
      refresh_rate = #{refreshRate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>