<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.cmnd.dao.SmartcmsSettingMapper" >
  <resultMap id="BaseResultMap" type="com.xum.cmnd.pojo.SmartcmsSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="setting_id" property="settingId" jdbcType="INTEGER" />
    <result column="smartcms_id" property="smartcmsId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, setting_id, smartcms_id, created_by, last_updated_by, created_date, last_updated_date, 
    name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from smartcms_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from smartcms_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xum.cmnd.pojo.SmartcmsSetting" >
    insert into smartcms_setting (id, setting_id, smartcms_id, 
      created_by, last_updated_by, created_date, 
      last_updated_date, name)
    values (#{id,jdbcType=INTEGER}, #{settingId,jdbcType=INTEGER}, #{smartcmsId,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xum.cmnd.pojo.SmartcmsSetting" >
    insert into smartcms_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="settingId != null" >
        setting_id,
      </if>
      <if test="smartcmsId != null" >
        smartcms_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="settingId != null" >
        #{settingId,jdbcType=INTEGER},
      </if>
      <if test="smartcmsId != null" >
        #{smartcmsId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xum.cmnd.pojo.SmartcmsSetting" >
    update smartcms_setting
    <set >
      <if test="settingId != null" >
        setting_id = #{settingId,jdbcType=INTEGER},
      </if>
      <if test="smartcmsId != null" >
        smartcms_id = #{smartcmsId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xum.cmnd.pojo.SmartcmsSetting" >
    update smartcms_setting
    set setting_id = #{settingId,jdbcType=INTEGER},
      smartcms_id = #{smartcmsId,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>