<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.cmnd.dao.SmartuiMapper" >
  <resultMap id="BaseResultMap" type="com.xum.cmnd.pojo.Smartui" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="isDelete" property="isdelete" jdbcType="CHAR" />
    <result column="Rename_website" property="renameWebsite" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xum.cmnd.pojo.Smartui" extends="BaseResultMap" >
    <result column="value" property="value" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, created_by, created_date, last_update_by, last_update_date, type, isDelete, 
    Rename_website, version
  </sql>
  <sql id="Blob_Column_List" >
    value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from smartui
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from smartui
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xum.cmnd.pojo.Smartui" >
    insert into smartui (id, name, created_by, 
      created_date, last_update_by, last_update_date, 
      type, isDelete, Rename_website, 
      version, value)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=CHAR}, #{isdelete,jdbcType=CHAR}, #{renameWebsite,jdbcType=CHAR}, 
      #{version,jdbcType=CHAR}, #{value,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.xum.cmnd.pojo.Smartui" >
    insert into smartui
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="renameWebsite != null" >
        Rename_website,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=CHAR},
      </if>
      <if test="renameWebsite != null" >
        #{renameWebsite,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=CHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xum.cmnd.pojo.Smartui" >
    update smartui
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=CHAR},
      </if>
      <if test="renameWebsite != null" >
        Rename_website = #{renameWebsite,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=CHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xum.cmnd.pojo.Smartui" >
    update smartui
    set name = #{name,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=CHAR},
      isDelete = #{isdelete,jdbcType=CHAR},
      Rename_website = #{renameWebsite,jdbcType=CHAR},
      version = #{version,jdbcType=CHAR},
      value = #{value,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xum.cmnd.pojo.Smartui" >
    update smartui
    set name = #{name,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=CHAR},
      isDelete = #{isdelete,jdbcType=CHAR},
      Rename_website = #{renameWebsite,jdbcType=CHAR},
      version = #{version,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>